<div *ngIf="Api.cargado; else cargando">
    <label>Buscar por: </label>
    <select [value]='tipoCriterio' (change)="changeTipoCriterio($event)">
    <option *ngFor="let o of criterios" [value]="o.value">{{o.viewValue}}</option>
  </select (change)="changeCriterio($event)">
  <label>{{tipoCriterioTexto}}</label>
  <select *ngIf="valoresCriterios">
    <option [value]='o.id' *ngFor="let o of valoresCriterios"> {{o.viewValue}} </option>
  </select>
    <ol>
        <li *ngFor="let l of lanzamientosFiltrados">{{l.name}}</li>
    </ol>
</div>
<ng-template #cargando>Cargando estados, agencias y tipos de misión ...</ng-template>